@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
#root, html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app{
  height: 100%;
  background: url('../assets/city.jpg');
  /* background: url('https://picsum.photos/200/300'); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}
.card {
  background-color: rgba(27, 27, 27, 0.9);
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: -19px 19px 23px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -19px 19px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -19px 19px 23px 0px rgba(0,0,0,0.75);

}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: 'Saira Condensed', sans-serif;
  color: #fff;
}


.btn {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}